.NavigationItems {
    display: none;
    flex-wrap: wrap;
    font-family: "Gotham SSm A", "Gotham SSm B", Geneva, Verdana, sans-serif;
    margin-top: 1.6rem;
    position: relative;
}

@media screen and (min-width: 768px) {
    .NavigationItems {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        margin-top: 0;
    }
}

.NavigationItems li {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .NavigationItems li {
        width: auto;
    }
    .sub-nav li:last-child a {
        margin-right: 0;
    }
}

.NavigationItems li a {
    color: #848484;
    display: inline-block;
    font-family: inherit;
    margin-bottom: 1.6rem;
    position: relative;
}

.NavigationItems li a::after {
    border-bottom: 0.2rem solid #5ca71b;
    bottom: -.2rem;
    content: '';
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .NavigationItems li a {
        margin-bottom: 0;
        margin-right: 4.8rem;
    }
    .NavigationItems li a::after {
        bottom: -1.6rem;
    }
}

.NavigationItems li a:focus,
.NavigationItems li a:hover,
.NavigationItems li a.active {
    color: #283041;
    text-decoration: none;
}

.NavigationItems li a:focus::after,
.NavigationItems li a:hover::after,
.NavigationItems li a.active::after {
    display: block;
}